<header>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation" *ngIf="isLogged">
      <a class="nav-link" id="home-tab" href="/profile" role="tab" aria-controls="home-tab-pane" aria-selected="true">{{loggedUser.username.toLocaleUpperCase()}}</a>
    </li> 
    <li class="nav-item" role="presentation" *ngIf="isLogged">
      <a class="nav-link" id="home-tab" href="/dashboard" role="tab" aria-controls="home-tab-pane" aria-selected="true">Home</a>
    </li>
    <li class="nav-item" role="presentation" *ngIf="isAdmin">
      <a class="nav-link" id="profile-tab" href="/user-manager" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Gerenciar Usuários</a>
    </li>
    <li class="nav-item" role="presentation" *ngIf="isAdmin">
      <a class="nav-link" id="contact-tab" href="/movie-manager" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Gerenciar Filmes</a>
    </li>
    <li class="nav-item ms-auto" role="presentation" *ngIf="isLogged">
      <a class="nav-link" routerLink="/" (click)="logout()" >Sair</a>
    </li>
  </ul>
</header>

<router-outlet></router-outlet>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <p class="col-md-4 mb-0 text-muted">© 2025 Raphael Tavares Leao</p>
</footer>

